@page "/about"
@layout PrimaryLayout

<div class="container">
    <div class="fade-up">
        <h3>Resume</h3>

        <p>
            Experienced Developer with a demonstrated history of working in the computer software industry. Strong operations professional skilled in Database Development,
            Web Design and Development, Business Process, Requirements Analysis, Enterprise Software, and Software Implementation.
        </p>

        <h4>Technical Skills</h4>
        @*<h5>I have strong skills in .net, javascript, sql.</h5>
            <h6>I am not particularly strong in Java or C++</h6>*@

        <ul>
            <li>
                .NET, JavaScript, SQL
            </li>
            <li>
                HTML, CSS, MVC, Angular, Typescript, React, Python, MongoDB, PHP
            </li>
            <li>
                AWS, Azure
            </li>
        </ul>

        <h4>IT Professional Experience</h4>
        <ul>
            <li>
                <strong>CherryTree Co.</strong> Developer <em>10/2014 - present</em>
            </li>
            <li>
                <strong>UXC Eclipse</strong> Sr. Programming Consultant <em>05/2002 - 02/2014</em>
            </li>
            <li>
                <strong>J&amp;D Systems</strong> Programmer/SQL Admin <em>05/1999 - 05/2002</em>
            </li>
        </ul>

        <h4>Education</h4>
        <ul>
            <li>Web Developer Diploma, triOS College 2018</li>
            <li>Computer Programmer Diploma, Sheridan College 1999</li>
        </ul>

        <div class="go">
            <a href="https://troyclarke.netlify.app">More details here</a>
        </div>
    </div>
</div>


@code {

}
