.colour-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

    .colour-list li {
        list-style-type: none;
        padding: 0;
    }

.colour-item {
    display: flex;
}
